<!doctype html>
<html class="no-js" lang="en">
  <head>
    <%= partial 'includes/landing-head' %>
  </head>
  <body>
    <%= partial 'includes/landing-facebook-alert' %>

    <%= partial 'includes/landing-top-bar.html' %>

    <%= yield %>

    <%= partial 'includes/landing-footer' %>

  </body>
</html>
